<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Export dataSiswa</title>
  </head>
  <body>
    <button id="exportButton">Export Data</button>

    <script>
      document.getElementById("exportButton").addEventListener("click", () => {
        fetch("http://localhost:2036/export-data-excel")
          .then((response) => response.blob())
          .then((blob) => {
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement("a");
            a.href = url;
            a.download = "dataSiswa.xlsx";
            a.click();
            window.URL.revokeObjectURL(url);
          })
          .catch((error) => console.error(error));
      });
    </script>
  </body>
</html>
